<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/alimentacion"></ion-back-button>
    </ion-buttons>
    <ion-title>Cena</ion-title>
    <ion-avatar routerLink="/inicio" slot="end" class="ion-padding">
      <img src="/assets/manzana.jpg"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card-header>
      <ion-card-title class="titulo">Cenas saludables</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="/assets/tipCena.jpg" class="imagen"></ion-img>
    </ion-card-content>
  </ion-list>
</ion-content>
