<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Deporte</ion-title>
    <ion-avatar routerLink="/inicio" slot="end" class="ion-padding">
      <img src="/assets/manzana.jpg"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="fondo">
    <ion-card-header>
      <ion-card-title class="titulo">Rutina cardio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <label class="texto">Se pueden hacer varias repeticiones de la rutina, 
        tomar descansos de 30 segundos entre los ejercicios, 
        recuerda ser constante con tus rutinas</label>
    </ion-card-content>
    <ion-card-content>
      <label class="texto">Primer ejercicio jumping jacks durante 2 minutos</label>
      <ion-img src="/assets/ejercicio1.jpg" class="imagen"></ion-img>
    </ion-card-content>
    <ion-card-content>
      <label class="texto">Segundo ejercicio skipping durante 2 minutos</label>
      <ion-img src="/assets/ejercicio2.jpg" class="imagen"></ion-img>
    </ion-card-content>
    <ion-card-content>
      <label class="texto">Tercer ejercicio shuffle durante 2 minutos</label>
      <ion-img src="/assets/ejercicio3.jpg" class="imagen"></ion-img>
    </ion-card-content>


  </ion-card>
  
</ion-content>
