<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Meditacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-title class="titulo">Musica para meditar</ion-title>
      <ion-card-content class="texto">
        Aveces la vida va demasiado rapido y no nos viene mal tomarnos un receso
        para frenar, respirar y relajarnos.
        Haz click en la imagen para escuchar musica para meditar, una vez ahí
        intenta respirar profundamente por almenos 5 minutos, intentando
        dejar tu mente en blanco.
        <ion-button style="width : 100% ; height : 100%" fill="clear" 
                    href="https://www.youtube.com/watch?v=22i6SofLVRY&t=2252s" 
                    target="_blank"
                    class="imagen">
          <img src="/assets/meditacion.jpg">
        </ion-button>
      </ion-card-content>
    <ion-title class="titulo">Musica para dormir</ion-title>
      <ion-card-content class="texto">
        Si tienes dificultades para dormir intenta escuchar las siguientes
        melodias para relajarte e intentar conciliar el sueño, click en
        la imagen para escuchar.
        <ion-button style="width : 100% ; height : 100%" fill="clear" 
                    href="https://www.youtube.com/watch?v=1sUjmn1DKDg" 
                    target="_blank"
                    class="imagen">
          <img src="/assets/dormir.jpg">
        </ion-button>
      </ion-card-content>
  </ion-list>
  
</ion-content>
